# AUCs

In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
cellpainting_assay_chembl_id = pd.read_csv('/SSL_data/supervisedCNNs/Bray_bioactives/cellpainting-assay-chembl-ids.csv')

In [3]:
cellpainting_assay_chembl_id.head()

   ASSAY_ID      CHEMBL_ID
0    600885  CHEMBL1040691
1    600886  CHEMBL1040692
2    688141  CHEMBL1614174
3    688155  CHEMBL1614234
4    688157  CHEMBL1614236

In [4]:
print(len(cellpainting_assay_chembl_id))

202

In [5]:
print(len(cellpainting_assay_chembl_id["ASSAY_ID"].unique()))

202

In [6]:
column_assay_index = pd.read_csv('/SSL_data/supervisedCNNs/Bray_bioactives/column-assay-index.csv')

In [7]:
column_assay_index.head()

   ASSAY_ID
0    600885
1    688422
2    688493
3    688810
4    688812

In [8]:
print(len(column_assay_index))

209

In [9]:
print(len(column_assay_index["ASSAY_ID"].unique()))

202

In [10]:
column_assay_index['Index'] = column_assay_index.index 
column_assay_index.head()

   ASSAY_ID  Index
0    600885      0
1    688422      1
2    688493      2
3    688810      3
4    688812      4

In [11]:
print(len(column_assay_index))

209

In [12]:
print(len(column_assay_index.drop_duplicates(subset=['ASSAY_ID'])))

202

In [13]:
assay_chembl= pd.merge(cellpainting_assay_chembl_id, column_assay_index, on='ASSAY_ID')

In [14]:
assay_chembl.head()

   ASSAY_ID      CHEMBL_ID  Index
0    600885  CHEMBL1040691      0
1    600885  CHEMBL1040691     22
2    600886  CHEMBL1040692     23
3    688141  CHEMBL1614174     12
4    688155  CHEMBL1614234     13

In [15]:
print(len(assay_chembl))

209

In [17]:
supporting_info = pd.read_excel('/SSL_data/supervisedCNNs/Bray_bioactives/Supporting_Information_Table_S5.ods', engine="odf")

In [18]:
supporting_info.head()

,Assay,ResNet,DenseNet,GapNet,M-CNN,MIL-Net,SC-CNN,FNN
0,CHEMBL1040691,0.382073,0.353741,0.400147,0.343896,0.335975,0.390464,0.545872
1,CHEMBL1614544,0.714242,0.686680,0.679266,0.722256,0.724828,0.616412,0.605515
2,CHEMBL1613914,0.544170,0.534179,0.511029,0.546714,0.508282,0.564776,0.402460
3,CHEMBL1613836,0.492456,0.465515,0.448211,0.461176,0.503378,0.401288,0.511324
4,CHEMBL1613838,0.435541,0.496423,0.433868,0.479750,0.552495,0.490792,0.578471

In [19]:
supporting_info= supporting_info.rename(columns={"Assay": "CHEMBL_ID"})

In [20]:
supporting_info.head()

,CHEMBL_ID,ResNet,DenseNet,GapNet,M-CNN,MIL-Net,SC-CNN,FNN
0,CHEMBL1040691,0.382073,0.353741,0.400147,0.343896,0.335975,0.390464,0.545872
1,CHEMBL1614544,0.714242,0.686680,0.679266,0.722256,0.724828,0.616412,0.605515
2,CHEMBL1613914,0.544170,0.534179,0.511029,0.546714,0.508282,0.564776,0.402460
3,CHEMBL1613836,0.492456,0.465515,0.448211,0.461176,0.503378,0.401288,0.511324
4,CHEMBL1613838,0.435541,0.496423,0.433868,0.479750,0.552495,0.490792,0.578471

In [21]:
final_df= pd.merge(assay_chembl, supporting_info, on='CHEMBL_ID')
final_df.head()

,ASSAY_ID,CHEMBL_ID,Index,ResNet,DenseNet,GapNet,M-CNN,MIL-Net,SC-CNN,FNN
0,600885,CHEMBL1040691,0,0.382073,0.353741,0.400147,0.343896,0.335975,0.390464,0.545872
1,600885,CHEMBL1040691,0,0.468936,0.509693,0.391711,0.409029,0.487797,0.474054,0.578887
2,600885,CHEMBL1040691,22,0.382073,0.353741,0.400147,0.343896,0.335975,0.390464,0.545872
3,600885,CHEMBL1040691,22,0.468936,0.509693,0.391711,0.409029,0.487797,0.474054,0.578887
4,600886,CHEMBL1040692,23,0.590332,0.599425,0.585017,0.567313,0.524417,0.488813,0.596216

In [22]:
print(len(final_df))

227

In [23]:
dino_auc = pd.read_csv (r'/SSL_data/supervisedCNNs/Bray_bioactives/dino_auc.txt')
dino_auc.head()

       Dino
0  0.483832
1  0.693760
2  0.450090
3  0.446477
4  0.479900

In [24]:
dino_auc['Index'] = dino_auc.index 
dino_auc.head()

       Dino  Index
0  0.483832      0
1  0.693760      1
2  0.450090      2
3  0.446477      3
4  0.479900      4

In [25]:
print(len(dino_auc))

209

In [26]:
AUCs = pd.merge(final_df, dino_auc, on='Index')
AUCs.head()

,ASSAY_ID,CHEMBL_ID,Index,ResNet,DenseNet,GapNet,M-CNN,MIL-Net,SC-CNN,FNN,Dino
0,600885,CHEMBL1040691,0,0.382073,0.353741,0.400147,0.343896,0.335975,0.390464,0.545872,0.483832
1,600885,CHEMBL1040691,0,0.468936,0.509693,0.391711,0.409029,0.487797,0.474054,0.578887,0.483832
2,600885,CHEMBL1040691,22,0.382073,0.353741,0.400147,0.343896,0.335975,0.390464,0.545872,0.399037
3,600885,CHEMBL1040691,22,0.468936,0.509693,0.391711,0.409029,0.487797,0.474054,0.578887,0.399037
4,600886,CHEMBL1040692,23,0.590332,0.599425,0.585017,0.567313,0.524417,0.488813,0.596216,0.591972

In [27]:
AUCs= AUCs.drop(['CHEMBL_ID','ASSAY_ID'], axis = 1)
AUCs= AUCs.groupby(['Index']).mean()

In [28]:
AUCs.head()

,ResNet,DenseNet,GapNet,M-CNN,MIL-Net,SC-CNN,FNN,Dino
Index,,,,,,,,
0,0.425504,0.431717,0.395929,0.376462,0.411886,0.432259,0.562379,0.483832
1,0.727567,0.685308,0.726101,0.694630,0.666689,0.620819,0.477339,0.693760
2,0.544170,0.534179,0.511029,0.546714,0.508282,0.564776,0.402460,0.450090
3,0.492456,0.465515,0.448211,0.461176,0.503378,0.401288,0.511324,0.446477
4,0.435541,0.496423,0.433868,0.479750,0.552495,0.490792,0.578471,0.479900

In [29]:
print(len(AUCs))

209

In [30]:
AUCs.to_csv('/SSL_data/supervisedCNNs/Bray_bioactives/AUCs.csv')

In [31]:
from scipy.io import mmread
the_matrix = mmread("/SSL_data/supervisedCNNs/Bray_bioactives/ChEMBL/Label_Matrix_Hofmarcher/label-matrix.mtx")
print(the_matrix.shape)

(10574, 209)

In [32]:
labels = the_matrix.toarray()
print(labels.shape)

(10574, 209)

In [33]:
label_count= np.count_nonzero(labels, axis=0)
print(label_count.shape)

(209,)

In [34]:
print(label_count)

[ 122  102  112   79   61   98   44   45  120   99  196  210   73   41
   80   54  100  115   52  145   79   56  122  131  102   98  210  145
  102   98  832  799  768  840  779  155  160   66   28   53  140  139
  391  365   44   39   88   38   78   73   83  135  172  177  173  170
  165  164  142  174  172  165  172  158  171  177  171  144  179  175
  174   60  139  160  170  177  164  175  173   57  169  172  168  169
  121  172  177  156  170  179  177  175  173  144  143   62   46  166
  139  169  169  169  142  180  176  135  173  173  176   61  168  173
  175  151  175   24   57   36   66   24   38   38   24   66   45   45
   97   22   53   53   52   40   40   34   22   34   36   32   36   36
   34   48   34   34   34   34  815   70   33  159   90   76   37  352
 1776  125  943  458  326   54 2790 1937 1915  256  720  115  127 1808
  133   77 2666  386   64  108   38  716  381  531  349  615   43  780
  358  855   91  381 1752   27  230   42 2168 1783  399  199   43  107
   89 1042  183   27  427  123  785  157  305   67   36   78 1554]

In [35]:
df_label_count = pd.DataFrame(label_count, columns=['label_counts'])
df_label_count['Index'] = df_label_count.index 
df_label_count.head()

   label_counts  Index
0           122      0
1           102      1
2           112      2
3            79      3
4            61      4

In [36]:
AUCs_label_count = pd.merge(AUCs, df_label_count, on='Index')
AUCs_label_count.head()

,Index,ResNet,DenseNet,GapNet,M-CNN,MIL-Net,SC-CNN,FNN,Dino,label_counts
0,0,0.425504,0.431717,0.395929,0.376462,0.411886,0.432259,0.562379,0.483832,122
1,1,0.727567,0.685308,0.726101,0.694630,0.666689,0.620819,0.477339,0.693760,102
2,2,0.544170,0.534179,0.511029,0.546714,0.508282,0.564776,0.402460,0.450090,112
3,3,0.492456,0.465515,0.448211,0.461176,0.503378,0.401288,0.511324,0.446477,79
4,4,0.435541,0.496423,0.433868,0.479750,0.552495,0.490792,0.578471,0.479900,61

In [37]:
print(len(AUCs_label_count))

209

In [38]:
AUCs_label_count.to_csv('/SSL_data/supervisedCNNs/Bray_bioactives/AUCs_label_count.csv')

In [41]:
print(AUCs_label_count['Dino'].mean())

0.7233368665452437

In [42]:
print(AUCs_label_count['Dino'].std())

0.18188008328365304

In [43]:
dino_F1 = pd.read_csv (r'/SSL_data/supervisedCNNs/Bray_bioactives/Dino_F1.txt')
dino_F1.head()

    Dino_F1
0  0.877755
1  0.040553
2  0.000000
3  0.016260
4  0.450978

In [44]:
print(dino_F1['Dino_F1'].mean())

0.5069996716533486

In [45]:
print(dino_F1['Dino_F1'].std())

0.30618311988694297